<!DOCTYPE html>
<html lang="en">
<head>
	<title>channel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/x-icon" href="img/biticon.ico" media="screen" />
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <!--<link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />-->
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/elements.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <!-- libraries -->
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/tables.css" type="text/css" media="screen" />
   <link href="http://cdn.bootcss.com/angular-loading-bar/0.9.0/loading-bar.min.css" rel="stylesheet">
   
    
<style media="all and (orientation:landscape)" type="text/css">
#portrait { display: none; }
</style>
</head>
<body ng-app="channel">
    <!-- navbar -->
    <div class="navbar navbar-inverse" ng-controller="loginctrl as nav">
        <div ng-include="'top.html'"></div>
    </div>
    <!-- sidebar -->
    <div id="sidebar-nav" ng-controller="chanctrl as chan">
        <ul id="dashboard-menu">
            <li ng-repeat="ch in chan.chbox" ng-class="{active:ch.active}" ng-click="ch.active = !ch.active">                
                <a ng-href="{{ch.urlb}}">
                    <span>{{ch.texa}}</span>
                </a>
            </li> 
        </ul>
    </div>
	<!-- main container -->
    <div class="content" ng-controller="chanelctrl as nel">
        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- orders table -->
                <div class="table-wrapper orders-table section">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4 class="left">
                            	<span>渠道统计报表</span><br />
                            	<span></span>
                            </h4>
							<form class="formdate left">
								<input id="d12" class="Wdate" type="text"/>
								<input type="radio" name="radio" value="1" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy'})"/>年
								<input type="radio" name="radio" value="2" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M'})"/>月
								<input type="radio" name="radio" value="3" checked="checked" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M-d'})"/>日
							</form>
							<button ng-click="addAgent()">添加新渠道</button>
							<button ng-click="data()">查询</button>
							<button ng-click="export()">导出</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <table class="table">
                            <thead>
                                <tr class="fb">
                                    <th>合计 Total</th>
                                    <th>-</th>
                                    <th>{{model.orderAmount}}</th>
                                    <th>{{model.userAmount}}</th>
                                    <th>{{model.tradePrice}}</th>
                                    <th>{{model.winMoney}}</th>
                                    <th>{{model.profit}}</th>
                                    <th>{{model.profitability}}%</th>
                                    <th colspan="2">{{model.prestore}}</th>
                                    <th>{{model.prestoreAlarm}}</th>
                                    <th>
                                    	<!--<button class="lu" id="luu" ng-click="startall(model.agentSell)">全部开售</button>-->
                                    	<!--<button class="hong" id="hongg" ng-click="stopall(model.agentSell)">全部停售</button>-->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row -->
                                <tr class="blue">
                                	<td rowspan="2">渠道名称</td>
                                	<td rowspan="2">渠道编码</td>
                                	<td rowspan="2">订单数</td>
                                	<td rowspan="2">注册用户数</td>
                                	<td colspan="8">竞彩足球FB</td>
                                </tr>
                                <tr class="blue">
                                	<td>交易额</td>
                                	<td>中奖额</td>
                                	<td>盈亏</td>
                                	<td>盈利率</td>
                                	<td colspan="2">预存额</td>
                                	<td>预存 报警</td>
                                	<td>渠道开停售</td>
                                </tr>
                                <tr ng-repeat="le in lebox">
                                    <td class="aclic" ng-click="updateAgentName(le.agentName,le.agentCode,le.agentId,le.url,le.password,le.prestore,le.prestoreAlarm,le.updateflag)">{{le.agentName}}</td>
                                    <td>{{le.agentCode}}</td>
                                    <td>{{le.orderAmount}}</td>
                                    <td>{{le.userAmount}}</td>
                                    <td>{{le.tradePrice}}</td>
                                    <td>{{le.winMoney}}</td>
                                    <td>{{le.profit}}</td>
                                    <td>{{le.profitability}}%</td>
                                    <td class="aclic" ng-click="prestore(le.agentName,le.agentCode,le.agentId,le.url,le.password,le.prestore,le.prestoreAlarm,le.updateflag)">{{le.prestore}}</td>
                                    <td class="aclic" ng-click="saveOrdrawDetail(le.agentId)">明细</td>
                                    <td class="aclic" ng-click="prestoreAlarm(le.agentName,le.agentCode,le.agentId,le.url,le.password,le.prestore,le.prestoreAlarm,le.updateflag)">{{le.prestoreAlarm}}</td>
                                    <td>
                                    	<button class="{{le.classs}}" id="lu{{$index}}" ng-click="start(le.agentId,le.agentSell,$index)">开售</button>
                                    	<button class="{{le.classe}}" id="hong{{$index}}" ng-click="stop(le.agentId,le.agentSell,$index)">停售</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
		<div id="loading-bar-container"></div>  <!--加载中..-->
    </div>

	<!-- scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/channel.js"></script>
	<script src="js/top.js"></script>
	<script src="js/My97DatePicker/WdatePicker.js"></script>
	<script src="js/layer.js"></script>
	<script src="http://cdn.bootcss.com/angular-loading-bar/0.9.0/loading-bar.min.js"></script>
</body>
</html>