<!DOCTYPE html>
<html lang="en">
<head>
	<title>Summary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/x-icon" href="img/biticon.ico" media="screen" />
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <!--<link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />-->
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/elements.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <!-- libraries -->
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/tables.css" type="text/css" media="screen" />
<style media="all and (orientation:landscape)" type="text/css">
#portrait { display: none; }
</style>
</head>
<body ng-app="finance">
    <!-- navbar -->
    <div class="navbar navbar-inverse" ng-controller="loginctrl as nav">
        <div ng-include="'top.html'"></div>
    </div>
    <!-- sidebar -->
    <div id="sidebar-nav" ng-controller="financtrl as anc">
        <ul id="dashboard-menu">
            <li ng-repeat="n in anc.nbox" ng-class="{active:n.active}" ng-click="n.active = !n.active">                
                <a ng-href="{{n.urlb}}">
                    <span>{{n.texa}}</span>
                </a>
            </li>  
            <li>
                <span>第三方状态：</span>
                <select id="ball" style="width: 88%;" onchange="window.location='https://www.baidu.com'">
                    <option value="null">ALL</option>
                    <option value="0">足球</option>
                    <option value="1">篮球</option>
                </select>
            </li>
        </ul>
    </div>
	<!-- main container -->
    <div class="content" ng-controller="fincectrl as ce">
        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- orders table -->
                <div class="table-wrapper orders-table section center">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4 class="left">
                            	<span>Cash out 财务数据汇总表</span><br />
                            	<span>截至{{ce.date}}</span>
                            </h4>
                            <form class="formdate left">
								<input id="d12" type="text" class="Wdate" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M-d'})"/>
								<b>月：<span id="vor" class="vor">{{ce.month}}</span></b>
								<b>周：<span id="week" class="vor">{{ce.weeking}}</span></b>
							</form>
							<button ng-click="data()">查询</button>
							<button ng-click="export()">导出</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="gree" colspan="4">合计Total</td>
                                    <td class="red" colspan="4">过关固定奖ALLUP</td>
                                    <td class="blue" colspan="4">单场固定奖FSGL</td>
                                    <td class="yel" colspan="4">Level0</td>
                                </tr>
                                <tr ng-repeat="do in ce.dobox">
                                    <td>{{do.worda}}</td>
                                    <td>{{do.wordb}}</td>
                                    <td class="gree">{{do.wordc}}</td>
                                    <td class="gree">{{do.wordd}}</td>
                                    <td class="gree">{{do.worde}}</td>
                                    <td class="gree">{{do.wordf}}</td>
                                    <td class="red">{{do.wordc}}</td>
                                    <td class="red">{{do.wordd}}</td>
                                    <td class="red">{{do.worde}}</td>
                                    <td class="red">{{do.wordf}}</td>
                                    <td class="blue">{{do.wordc}}</td>
                                    <td class="blue">{{do.wordd}}</td>
                                    <td class="blue">{{do.worde}}</td>
                                    <td class="blue">{{do.wordf}}</td>
                                    <td class="yel">{{do.wordc}}</td>
                                    <td class="yel">{{do.wordd}}</td>
                                    <td class="yel">{{do.worde}}</td>
                                    <td class="yel">{{do.wordf}}</td>
                                </tr>
                                <tr>
                                    <td>{{modelToday.column1}}</td>
                                    <td>{{modelToday.column2}}</td>
                                    <td class="gree">{{modelToday.totalInvestment}}</td>
                                    <td class="gree">{{modelToday.invest}}</td>
                                    <td class="gree">{{modelToday.totalPrice}}</td>
                                    <td class="gree">{{modelToday.payoutRate}}%</td>
                                    <td class="red">{{modelToday.totalInvestmentAllup}}</td>
                                    <td class="red">{{modelToday.investAllup}}</td>
                                    <td class="red">{{modelToday.totalPriceAllup}}</td>
                                    <td class="red">{{modelToday.payoutRateAllup}}%</td>
                                    <td class="blue">{{modelToday.totalInvestmentFsgl}}</td>
                                    <td class="blue">{{modelToday.investFsgl}}</td>
                                    <td class="blue">{{modelToday.totalPriceFsgl}}</td>
                                    <td class="blue">{{modelToday.payoutRateFsgl}}%</td>
                                    <td class="yel">{{modelToday.totalInvestmentLevel0}}</td>
                                    <td class="yel">{{modelToday.investLevel0}}</td>
                                    <td class="yel">{{modelToday.totalPriceLevel0}}</td>
                                    <td class="yel">{{modelToday.payoutRateLevel0}}%</td>
                                </tr>
                                <tr>
                                    <td>{{modelWeek.column1}}</td>
                                    <td>{{modelWeek.column2}}</td>
                                    <td class="gree">{{modelWeek.totalInvestment}}</td>
                                    <td class="gree">{{modelWeek.invest}}</td>
                                    <td class="gree">{{modelWeek.totalPrice}}</td>
                                    <td class="gree">{{modelWeek.payoutRate}}%</td>
                                    <td class="red">{{modelWeek.totalInvestmentAllup}}</td>
                                    <td class="red">{{modelWeek.investAllup}}</td>
                                    <td class="red">{{modelWeek.totalPriceAllup}}</td>
                                    <td class="red">{{modelWeek.payoutRateAllup}}%</td>
                                    <td class="blue">{{modelWeek.totalInvestmentFsgl}}</td>
                                    <td class="blue">{{modelWeek.investFsgl}}</td>
                                    <td class="blue">{{modelWeek.totalPriceFsgl}}</td>
                                    <td class="blue">{{modelWeek.payoutRateFsgl}}%</td>
                                    <td class="yel">{{modelWeek.totalInvestmentLevel0}}</td>
                                    <td class="yel">{{modelWeek.investLevel0}}</td>
                                    <td class="yel">{{modelWeek.totalPriceLevel0}}</td>
                                    <td class="yel">{{modelWeek.payoutRateLevel0}}%</td>
                                </tr>
                                <tr>
                                    <td>{{modelMonth.column1}}</td>
                                    <td>{{modelMonth.column2}}</td>
                                    <td class="gree">{{modelMonth.totalInvestment}}</td>
                                    <td class="gree">{{modelMonth.invest}}</td>
                                    <td class="gree">{{modelMonth.totalPrice}}</td>
                                    <td class="gree">{{modelMonth.payoutRate}}%</td>
                                    <td class="red">{{modelMonth.totalInvestmentAllup}}</td>
                                    <td class="red">{{modelMonth.investAllup}}</td>
                                    <td class="red">{{modelMonth.totalPriceAllup}}</td>
                                    <td class="red">{{modelMonth.payoutRateAllup}}%</td>
                                    <td class="blue">{{modelMonth.totalInvestmentFsgl}}</td>
                                    <td class="blue">{{modelMonth.investFsgl}}</td>
                                    <td class="blue">{{modelMonth.totalPriceFsgl}}</td>
                                    <td class="blue">{{modelMonth.payoutRateFsgl}}%</td>
                                    <td class="yel">{{modelMonth.totalInvestmentLevel0}}</td>
                                    <td class="yel">{{modelMonth.investLevel0}}</td>
                                    <td class="yel">{{modelMonth.totalPriceLevel0}}</td>
                                    <td class="yel">{{modelMonth.payoutRateLevel0}}%</td>
                                </tr>
                                <tr>
                                    <td>{{modelYear.column1}}</td>
                                    <td>{{modelYear.column2}}</td>
                                    <td class="gree">{{modelYear.totalInvestment}}</td>
                                    <td class="gree">{{modelYear.invest}}</td>
                                    <td class="gree">{{modelYear.totalPrice}}</td>
                                    <td class="gree">{{modelYear.payoutRate}}%</td>
                                    <td class="red">{{modelYear.totalInvestmentAllup}}</td>
                                    <td class="red">{{modelYear.investAllup}}</td>
                                    <td class="red">{{modelYear.totalPriceAllup}}</td>
                                    <td class="red">{{modelYear.payoutRateAllup}}%</td>
                                    <td class="blue">{{modelYear.totalInvestmentFsgl}}</td>
                                    <td class="blue">{{modelYear.investFsgl}}</td>
                                    <td class="blue">{{modelYear.totalPriceFsgl}}</td>
                                    <td class="blue">{{modelYear.payoutRateFsgl}}%</td>
                                    <td class="yel">{{modelYear.totalInvestmentLevel0}}</td>
                                    <td class="yel">{{modelYear.investLevel0}}</td>
                                    <td class="yel">{{modelYear.totalPriceLevel0}}</td>
                                    <td class="yel">{{modelYear.payoutRateLevel0}}%</td>
                                </tr>
                                <tr>
                                    <td>月份明细Month</td>
                                    <td></td>
                                    <td class="gree"></td>
                                    <td class="gree"></td>
                                    <td class="gree"></td>
                                    <td class="gree"></td>
                                    <td class="red"></td>
                                    <td class="red"></td>
                                    <td class="red"></td>
                                    <td class="red"></td>
                                    <td class="blue"></td>
                                    <td class="blue"></td>
                                    <td class="blue"></td>
                                    <td class="blue"></td>
                                    <td class="yel"></td>
                                    <td class="yel"></td>
                                    <td class="yel"></td>
                                    <td class="yel"></td>
                                </tr>
                                <tr ng-repeat="fin in financebox">
                                    <td>{{fin.column1}}</td>
                                    <td>{{fin.column2}}</td>
                                    <td class="gree">{{fin.totalInvestment}}</td>
                                    <td class="gree">{{fin.invest}}</td>
                                    <td class="gree">{{fin.totalPrice}}</td>
                                    <td class="gree">{{fin.payoutRate}}%</td>
                                    <td class="red">{{fin.totalInvestmentAllup}}</td>
                                    <td class="red">{{fin.investAllup}}</td>
                                    <td class="red">{{fin.totalPriceAllup}}</td>
                                    <td class="red">{{fin.payoutRateAllup}}%</td>
                                    <td class="blue">{{fin.totalInvestmentFsgl}}</td>
                                    <td class="blue">{{fin.investFsgl}}</td>
                                    <td class="blue">{{fin.totalPriceFsgl}}</td>
                                    <td class="blue">{{fin.payoutRateFsgl}}%</td>
                                    <td class="yel">{{fin.totalInvestmentLevel0}}</td>
                                    <td class="yel">{{fin.investLevel0}}</td>
                                    <td class="yel">{{fin.totalPriceLevel0}}</td>
                                    <td class="yel">{{fin.payoutRateLevel0}}%</td>
                                </tr>
                                <tr class="dategray">
                                    <td>{{total.column1}}</td>
                                    <td>{{total.column2}}</td>
                                    <td>{{total.totalInvestment}}</td>
                                    <td>{{total.invest}}</td>
                                    <td>{{total.totalPrice}}</td>
                                    <td>{{total.payoutRate}}%</td>
                                    <td>{{total.totalInvestmentAllup}}</td>
                                    <td>{{total.investAllup}}</td>
                                    <td>{{total.totalPriceAllup}}</td>
                                    <td>{{total.payoutRateAllup}}%</td>
                                    <td>{{total.totalInvestmentFsgl}}</td>
                                    <td>{{total.investFsgl}}</td>
                                    <td>{{total.totalPriceFsgl}}</td>
                                    <td>{{total.payoutRateFsgl}}%</td>
                                    <td>{{total.totalInvestmentLevel0}}</td>
                                    <td>{{total.investLevel0}}</td>
                                    <td>{{total.totalPriceLevel0}}</td>
                                    <td>{{total.payoutRateLevel0}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/finance.js"></script>
	<script src="js/top.js"></script>
	<script src="js/My97DatePicker/WdatePicker.js"></script>
</body>
</html>