<!DOCTYPE html>
<html lang="en">
<head>
	<title>Daily Single</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/x-icon" href="img/biticon.ico" media="screen" />
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <!--<link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />-->
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/elements.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <!-- libraries -->
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/tables.css" type="text/css" media="screen" />
<style media="all and (orientation:landscape)" type="text/css">
#portrait { display: none; }
</style>
</head>
<body ng-app="single">
    <!-- navbar -->
    <div class="navbar navbar-inverse" ng-controller="loginctrl as nav">
        <div ng-include="'top.html'"></div>
    </div>
    <!-- sidebar -->
    <div id="sidebar-nav" ng-controller="singctrl as gle">
        <ul id="dashboard-menu">
            <li ng-repeat="g in gle.gbox" ng-class="{active:g.active}" ng-click="g.active = !g.active">                
                <a ng-href="{{g.urlb}}">
                    <span>{{g.texa}}</span>
                </a>
            </li> 
        </ul>
    </div>
	<!-- main container -->
    <div class="content" ng-controller="glectrl as le">
        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- orders table -->
                <div class="table-wrapper orders-table section center">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4 class="left">
                            	<span>单场投注数据明细表</span><br />
                            	<span>Single Betting Details</span>
                            </h4>
                            <form class="formdate left">
								<input id="d12" class="Wdate" type="text"/>
								<input type="radio" name="radio" value="1" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy'})"/>年
								<input type="radio" name="radio" value="2" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M'})"/>月
								<input type="radio" name="radio" value="3" checked="checked" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M-d'})"/>日
							</form>
							<button ng-click="data()">查询</button>
							<button ng-click="export()">导出</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <table class="table">
                            <tbody>
                                <tr class="fb">
                                    <td colspan="4"></td>
                                    <td>合计</td>
                                    <td>{{total.totalInvestmentHAD}}</td>
                                    <td>{{total.investHAD}}</td>
                                    <td>{{total.totalPriceHAD}}</td>
                                    <td>{{total.winpriceHAD}}</td>
                                    <td>{{total.averageHAD}}</td>
                                    <td>{{total.payoutRateHAD}}%</td>
                                    <td>{{total.totalInvestmentHHAD}}</td>
                                    <td>{{total.investHHAD}}</td>
                                    <td>{{total.totalPriceHHAD}}</td>
                                    <td>{{total.winpriceHHAD}}</td>
                                    <td>{{total.averageHHAD}}</td>
                                    <td>{{total.payoutRateHHAD}}%</td>
                                    <td>{{total.totalInvestmentHAFU}}</td>
                                    <td>{{total.investHAFU}}</td>
                                    <td>{{total.totalPriceHAFU}}</td>
                                    <td>{{total.winpriceHAFU}}</td>
                                    <td>{{total.averageHAFU}}</td>
                                    <td>{{total.payoutRateHAFU}}%</td>
                                    <td>{{total.totalInvestmentTTG}}</td>
                                    <td>{{total.investTTG}}</td>
                                    <td>{{total.totalPriceTTG}}</td>
                                    <td>{{total.winpriceTTG}}</td>
                                    <td>{{total.averageTTG}}</td>
                                    <td>{{total.payoutRateTTG}}%</td>
                                    <td>{{total.totalInvestmentCRS}}</td>
                                    <td>{{total.investCRS}}</td>
                                    <td>{{total.totalPriceCRS}}</td>
                                    <td>{{total.winpriceCRS}}</td>
                                    <td>{{total.averageCRS}}</td>
                                    <td>{{total.payoutRateCRS}}%</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="gree" colspan="6">胜平负HAD</td>
                                    <td class="red" colspan="6">让球胜平负HHAD</td>
                                    <td class="blue" colspan="6">HAFU</td>
                                    <td class="yel" colspan="6">TTG</td>
                                    <td class="white" colspan="6">CRS</td>
                                </tr>
                                <tr>
                                    <td>比赛编号Match No.</td>
                                    <td>比赛时间Match_date</td>
                                    <td>联赛League</td>
                                    <td>Team(HomeVSAway)</td>
                                    <td>赛果Result(半场/全场)</td>
                                    <td class="gree">原始投注额TotalInvestment(人民币RMB)</td>
                                    <td class="gree">投注额Investment(人民币RMB)</td>
                                    <td class="gree">返奖金额Payout(人民币RMB)</td>
                                    <td class="gree">中奖额Amt.Winning Unit</td>
                                    <td class="gree">平均中奖固定奖金额AverageWinningOdds</td>
                                    <td class="gree">盈利率%PayoutRatio</td>
                                    <td class="red">原始投注额TotalInvestment(人民币RMB)</td>
                                    <td class="red">投注额Investment(人民币RMB)</td>
                                    <td class="red">返奖金额Payout(人民币RMB)</td>
                                    <td class="red">中奖额Amt.Winning Unit</td>
                                    <td class="red">平均中奖固定奖金额AverageWinningOdds</td>
                                    <td class="red">盈利率%PayoutRatio</td>
                                    <td class="blue">原始投注额TotalInvestment(人民币RMB)</td>
                                    <td class="blue">投注额Investment(人民币RMB)</td>
                                    <td class="blue">返奖金额Payout(人民币RMB)</td>
                                    <td class="blue">中奖额Amt.Winning Unit</td>
                                    <td class="blue">平均中奖固定奖金额AverageWinningOdds</td>
                                    <td class="blue">盈利率%PayoutRatio</td>
                                    <td class="yel">原始投注额TotalInvestment(人民币RMB)</td>
                                    <td class="yel">投注额Investment(人民币RMB)</td>
                                    <td class="yel">返奖金额Payout(人民币RMB)</td>
                                    <td class="yel">中奖额Amt.Winning Unit</td>
                                    <td class="yel">平均中奖固定奖金额AverageWinningOdds</td>
                                    <td class="yel">盈利率%PayoutRatio</td>
                                    <td class="white">原始投注额TotalInvestment(人民币RMB)</td>
                                    <td class="white">投注额Investment(人民币RMB)</td>
                                    <td class="white">返奖金额Payout(人民币RMB)</td>
                                    <td class="white">中奖额Amt.Winning Unit</td>
                                    <td class="white">平均中奖固定奖金额AverageWinningOdds</td>
                                    <td class="white">盈利率%PayoutRatio</td>
                                </tr>
                                <tr class="smallfont" ng-repeat="do in singlebox">
                                    <td>{{do.match_code}}</td>
                                    <td>{{do.match_date}}</td>
                                    <td>{{do.match_league}}</td>
                                    <td>
                                    	<span>{{do.home_team}}</span>vs
                                    	<span>{{do.away_team}}</span>
                                    </td>
                                    <td>
                                    	<span>{{do.home_score_half}}:</span>
                                    	<span>{{do.away_score_half}}</span>/
                                    	<span>{{do.home_score}}:</span>
                                    	<span>{{do.away_score}}</span>
                                    </td>
                                    <td class="gree">{{do.totalInvestmentHAD}}</td>
                                    <td class="gree">{{do.investHAD}}</td>
                                    <td class="gree">{{do.totalPriceHAD}}</td>
                                    <td class="gree">{{do.winpriceHAD}}</td>
                                    <td class="gree">{{do.averageHAD}}</td>
                                    <td class="gree">{{do.payoutRateHAD}}%</td>
                                    <td class="red">{{do.totalInvestmentHHAD}}</td>
                                    <td class="red">{{do.investHHAD}}</td>
                                    <td class="red">{{do.totalPriceHHAD}}</td>
                                    <td class="red">{{do.winpriceHHAD}}</td>
                                    <td class="red">{{do.averageHHAD}}</td>
                                    <td class="red">{{do.payoutRateHHAD}}%</td>
                                    <td class="blue">{{do.totalInvestmentHAFU}}</td>
                                    <td class="blue">{{do.investHAFU}}</td>
                                    <td class="blue">{{do.totalPriceHAFU}}</td>
                                    <td class="blue">{{do.winpriceHAFU}}</td>
                                    <td class="blue">{{do.averageHAFU}}</td>
                                    <td class="blue">{{do.payoutRateHAFU}}%</td>
                                    <td class="yel">{{do.totalInvestmentTTG}}</td>
                                    <td class="yel">{{do.investTTG}}</td>
                                    <td class="yel">{{do.totalPriceTTG}}</td>
                                    <td class="yel">{{do.winpriceTTG}}</td>
                                    <td class="yel">{{do.averageTTG}}</td>
                                    <td class="yel">{{do.payoutRateTTG}}%</td>
                                    <td class="white">{{do.totalInvestmentCRS}}</td>
                                    <td class="white">{{do.investCRS}}</td>
                                    <td class="white">{{do.totalPriceCRS}}</td>
                                    <td class="white">{{do.winpriceCRS}}</td>
                                    <td class="white">{{do.averageCRS}}</td>
                                    <td class="white">{{do.payoutRateCRS}}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/single.js"></script>
	<script src="js/top.js"></script>
	<script src="js/My97DatePicker/WdatePicker.js"></script>
</body>
</html>