<!DOCTYPE html>
<html lang="en">
<head>
	<title>Daily Summary</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" type="image/x-icon" href="img/biticon.ico" media="screen" />
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <!--<link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />-->
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/elements.css" />
    <link rel="stylesheet" type="text/css" href="css/icons.css" />
    <!-- libraries -->
    <link href="css/lib/font-awesome.css" type="text/css" rel="stylesheet" />    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/tables.css" type="text/css" media="screen" />
<style media="all and (orientation:landscape)" type="text/css">
#portrait { display: none; }
</style>
</head>
<body ng-app="summary">
    <!-- navbar -->
    <div class="navbar navbar-inverse" ng-controller="loginctrl as nav">
        <div ng-include="'top.html'"></div>
    </div>
    <!-- sidebar -->
    <div id="sidebar-nav" ng-controller="summactrl as ma">
        <ul id="dashboard-menu">
            <li ng-repeat="m in ma.mbox" ng-class="{active:m.active}" ng-click="m.active = !m.active">                
                <a ng-href="{{m.urlb}}">
                    <span>{{m.texa}}</span>
                </a>
            </li> 
        </ul>
    </div>
	<!-- main container -->
    <div class="content" ng-controller="sumaryctrl as mary">
        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- orders table -->
                <div class="table-wrapper orders-table section center">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4 class="left">
                            	<span>财务数据月汇总表</span><br />
                            	<span>Month Sumary</span>
                            </h4>
                            <form class="formdate left">
                            	<input id="d12" type="text" class="Wdate" onclick="WdatePicker({el:'d12',skin:'whyGreen',dateFmt:'yyyy-M'})"/>
							</form>
							<button ng-click="data()">查询</button>
							<button ng-click="export()">导出</button>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <table class="table">
                        	<thead>
                                <tr class="thtibler">
                                    <th>{{monthTotal.week}}</th>
                                    <th>{{monthTotal.totalNum}}</th>
                                    <th>{{monthTotal.totalInvestment}}</th>
                                    <th>{{monthTotal.invest}}</th>
                                    <th>{{monthTotal.totalPrice}}</th>
                                    <th>{{monthTotal.payoutRate}}%</th>
                                    <th>{{monthTotal.fbNum}}</th>
                                    <th>{{monthTotal.totalInvestmentFb}}</th>
                                    <th>{{monthTotal.investFb}}</th>
                                    <th>{{monthTotal.totalPriceFb}}</th>
                                    <th>{{monthTotal.payoutRateFb}}%</th>
                                    <th>{{monthTotal.bkNum}}</th>
                                    <th>{{monthTotal.totalInvestmentBk}}</th>
                                    <th>{{monthTotal.investBk}}</th>
                                    <th>{{monthTotal.totalPriceBk}}</th>
                                    <th>{{monthTotal.payoutRateBk}}%</th>
                                </tr>
                            </thead>
                            <tbody id="ta">
                                <tr>
                                    <td></td>
                                    <td class="gree" colspan="5">合计Total</td>
                                    <td class="red" colspan="5">足球</td>
                                    <td class="blue" colspan="5">篮球</td>
                                </tr>
                                <tr>
                                	<td></td>
                                    <td class="gree" colspan="5">Total Investment</td>
                                    <td class="red" colspan="5">FB Investment PMU Included</td>
                                    <td class="blue" colspan="5">BK Investment PMU Included</td>
                                </tr>
                            </tbody>
                                <!-- 自动加载数据 -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- scripts -->
    <script src="js/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/summary.js"></script>
	<script src="js/top.js"></script>
	<script src="js/My97DatePicker/WdatePicker.js"></script>
</body>
</html>